/**
 * VARIABLES
 *
 * @since   0.1
 * @doc https://awesomatic.nl/docs/dev/variables 
 */

/** BREAKPOINTS */

$bp-small : 24em; // Mobile
$bp-small-2 : 29.75em; // Laptop 13 inch
$bp-small-3 : 39.8em;
$bp-med : 46.8em; // Tablet - Portrait
$bp-med-2 : 48em;
$bp-large : 50em;
$bp-large-2 : 66em; // iPad - landscape
$bp-xl : 73em; // Laptop 13 inch
$bp-xxl : 89em;
$bp-xxxl : 93em;

/** COLORS */

/** Utility colors */

$color-utility-positive: #03804d;
$color-utility-postitive-subtle: #d4f3e6;
$color-utility-caution: #a59b15;
$color-utility-caution-subtle: #fffecf;
$color-utility-negative: #b12a0b;
$color-utility-negative-subtle: #fdded8;
$color-utility-neutral: #0192d0;
$color-utility-neutral-subtle: #d3f2ff;

:root {
  --color-white: rgba(255,255,255,1);
  --color-black: rgba(0,0,0,1);
  --color-gray: #96a0a6;
  --color-gray--dark: rgba(0,0,0,0.9);
  --color-gray--light: rgba(0,0,0,0.1);
  --color-blue--neutral: #3318ec;
}

/** TYPOGRAPHY */

:root {
  --font-size: 1rem;
}

/** SPACING */

:root {
  --space: 1.5rem;
  --space-half: 0.75rem;
  --space-double: 3rem;
}

/** BORDERS */

/** Border Radius */

:root {
  --border-radius: 3px;
}

/** ANIMATION */

/** Animation Duration */

$anim-speed-quick: 0.2s;

/** Animation Easing */

$anim-ease: ease;
