/**
 * ARTICLE HEADER
 *
 * @since   0.1
 * @doc https://awesomatic.nl/docs 
 */

.entry-header {
	width: 100%;
	height: 100%;

	padding: 6rem 0 2rem 0;
	display: flex;
	justify-content: center;
}

.entry-title {
	width: 88vw;
	margin: 0 0 0 0;
	text-align: center;
}

@media all and (min-width: $bp-xl) {

	.entry-header {
		padding: 8rem 0 4rem 0;
	}

}
