/**
 * ARTICLE
 *
 * @since   0.1
 * @doc https://awesomatic.nl/docs 
 */
  
.entry-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4.5rem 0 0 0;
}

body:not(.home) .entry-header {
  background-color: var(--color-gray);
}

body:not(.home) .entry-title {
  font-size: 1.8rem;
  margin: 5rem 0 5rem 0;
  color: var(--color-dark);
}

body:not(.home) .entry-content {
  padding: 0 0 0 0;
}

@media all and (min-width: $bp-large) {

  body:not(.home) .entry-header {
  }

  body:not(.home) .entry-title {
    font-size: 2.2rem;
  }

  body:not(.home) .entry-content {
  }

}

@media all and (min-width: $bp-xl) {

  body:not(.home) .entry-header {
  }

  body:not(.home) .entry-title {
    font-size: 2.8rem;
  }

  body:not(.home) .entry-content {
  }

}
