/**
 * COVER BLOCK
 *
 * @since   0.1
 * @doc https://awesomatic.nl/docs 
 */

.wp-block-cover, .wp-block-cover-image {
    height: calc(var(--vh, 1vh) * 100);
    transition: height 0.15s ease-in;
}
  
.awsm-block-stretch--scrolled {
    height: calc(var(--vh, 1vh) * 100);
    transition: height 0.30s ease-out;
}
