/**
 * BUTTONS BLOCK
 *
 * Since 0.1
 */

/** Filled button */

.wp-block-button {
  margin: 0.5rem 0 0.5rem 0;
}

.wp-block-button.is-style-fill:hover {
  background-color: var(--color-primary);
  border-radius: 28px;
}

.wp-block-button.is-style-fill .wp-block-button__link:hover {
  background-color: var(--color-primary);
  border-radius: 28px;
}

.wp-block-button__link {
  font-size: 15px;
  border: 28px;
  font-family: 'SF Mono Medium';
	font-weight: normal;
}

.wp-block-button__link.has-background {
  color: var(--color-light);
  background-color: var(--color-dark);
}

.wp-block-button__link.has-background:hover {
  color: var(--color-light);
  background-color: var(--color-primary);
}
