/**
 * SHOP NAVIGATION
 *
 * @since   0.1
 * @doc https://awesomatic.nl/docs 
 */

.navigation-shop__list {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
}
  
.navigation-shop__list-item:not(:first-child) {
    padding: 0 0 0 0.5rem;
} 

a.icon-shopping--favorites:before {
	/**
 	 * Place an icon after every menu item that thas a submenu
 	 */
	font: 400 1.25rem/1 dashicons;
	content: "\f174"; 
	color: var(--color-primary);
	border: none;
	vertical-align: middle;
}

a.awsm-cart__total-items {
    display: inline-block;
    min-width: 24px;
    padding: 4px 4px 2px 4px;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1rem;
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    background-color: var(--color-dark);
    border-radius: 10px;
    box-shadow: 0 3px 10px var(--color-gray);
    margin-left: 3px;
    transition: background-color 0.25s;
    color: var(--color-light);
}

a.awsm-cart__total-items:hover {
    background-color: var(--color-dark);
}

.awsm-mini-cart {
    display: flex;
    align-items: center;
}

ul.awsm-mini-cart li {
    font-size: 0.9rem;
}	

.navigation-shop__list * svg {
    display: block;
}
