/**
 * HEADER NAVIGATION
 *
 * @since 0.1
 * @doc https://awesomatic.nl/docs 
 */

/** List */

.navigation-header__list { 
	display: flex;
	flex-flow: row wrap;
	// align-items: center;
	justify-content: flex-start;
	font-size: 0.9rem;
	font-family:'SF Mono Regular';
	font-weight:normal;
}

/** Items */

.navigation-header__list-item:not(:first-child)  {
	padding: 0 0 0 var(--space);

}

.navigation-header__list-item:nth-child(3) a,  
.navigation-header__list-item:nth-child(4) a
{
	color: var(--color-primary);
}

.navigation-header__list-item a {
	color: var(--color-gray);

} 

.navigation-header__list-item a:hover {
	color: var(--color-dark);

} 

.navigation-header__list-item.current-menu-item a {
	color: var(--color-dark);

}

.navigation-header__list-item.current-menu-item a:hover {
	color: var(--color-dark);

}

/** Current menu item variations */

.navigation-header__list-item.current-menu-item.current-menu-item--border-bottom a {
	border-bottom: 2px solid var(--color-primary);
}
