/**
 * COLOPHON NAVIGATION
 *
 * @since 	0.1
 * @doc		https://awesomatic.nl/docs 
 */

 .navigation-colophon {
	color: var(--color-gray);
 }

.navigation-colophon__list {
	font-size: 0.7rem;
	color: inherit;
	display: flex;
	flex-direction: row;
	justify-content: center; // align horizontal
	align-items: center; // align vertical
}

.navigation-colophon__name {
	display: none;
}

.navigation-colophon__seperator {
	padding: 0 0.25rem 0 0.25rem;
}

.navigation-colophon__credits a {
	border-bottom: 1px solid var(--color-gray);
	color: var(--color-gray);
}

.navigation-colophon__credits a:hover {
	color: var(--color-dark);
}

@media all and (min-width: $bp-med) {

	.navigation-colophon__name {
		display: inline-block;
	}

}

@media (min-width: $bp-xl) {

	.navigation-colophon__list {
		font-size: 0.8rem;
	}

	.navigation-colophon__seperator {
		padding: 0 0.5rem 0 0.5rem;
	}

}
