/**
 * FOOTER NAVIGATION
 *
 * @since   0.1
 * @doc https://awesomatic.nl/docs 
 */

.navigation-footer__list {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	font-family:'SF Mono Regular';
	font-weight:normal;
}

.navigation-footer__list-item a {
	font-size: 0.8rem;
	font-weight: 500;
	color: var(--color-gray);
}

.navigation-footer__list-item a:hover {
	color: var(--color-dark);
}

.navigation-footer__list-item:not(:first-child) {
	padding: 0 0 0 1rem;
}

@media (min-width: $bp-xl) {

	.navigation-footer__list-item a {
		font-size: 0.8rem;
	}	

}
