/**
 * MOBILE NAVIGATION
 *
 * @since   0.1
 * @doc https://awesomatic.nl/docs 
 */

.navigation-mobile__list {
	display: flex;
	flex-direction: column;
}

.navigation-mobile__list-item {
	padding: 1.5rem 0 1.5rem 0;
}

.navigation-mobile__list-item a {
	color: var(--color-light);
	font-size: 1.2rem;
	font-weight: 400;
}

.navigation-mobile__list-item a:hover {
	color: var(--color-dark);
}

.navigation-mobile__list-item.current_page_item a {
	border-bottom: 2px solid var(--color-gray--light);
	font-weight: 500;
}

.navigation-mobile__list-item.current_page_item a:hover {
	color: var(--color-light);
}

.navigation-mobile__list-item:not(.current_page_item) a {
	border-bottom: none;
}

.navigation-mobile__list-item:not(.current_page_item) a:hover {
	color: var(--color-dark);
}

	