/**
 * Submenu 
 *
 * @since 0.1
 * @doc https://awesomatic.nl/docs 
 */

/** Parent item */

.navigation-header__list-item.menu-item-has-children a {
	cursor: pointer;
}

.navigation-header__list-item.menu-item-has-children > a::after {
	/**
 	 * Place an icon after every menu item that thas a submenu
 	 */
	font: 400 1rem/1 dashicons;
	content: "\f347"; 
	padding: 0 0 0 0.5rem;
	color: var(--color-primary);
	border: none;
	vertical-align: middle;
}

.navigation-header__list-item.menu-item-has-children > a:hover::after {
	/**
	 * Change the icons color on hover
	 */
	color: var(--color-primary);
}

.navigation-header__list-item.current-menu-ancestor > a {
	color: var(--color-primary);
}

.navigation-header__list-item.current-menu-item.menu-item-has-children a {
	border-bottom: none;
	color: var(--color-primary);
}

/** Sub menu */

.navigation-header__list-item .sub-menu {
	/**
	 * Hide the menu when it's not clicked or clicked-to-close
	 */
	display: none;
}

.navigation-header__list-item .sub-menu.sub-menu--open {
	/**
	 * Display the menu when it's clicked
	 */
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	position: absolute;
	margin-top: 1.4rem;
	padding: 0 0 0 0;
	background: var(--color-light);
}

/** Items */

.navigation-header__list-item .sub-menu .navigation-header__list-item {
	padding: 0.5rem 1rem 0.5rem 1rem;
}

.navigation-header__list-item .sub-menu .navigation-header__list-item:not(:last-child) {
	border-bottom: 2px dotted var(--color-gray--light);
}

.navigation-header__list-item .sub-menu .navigation-header__list-item a {
	font-size: 0.9rem;
}

.current-menu-parent .current-menu-item.navigation-header__list-item a,
.current-menu-parent .current_page_item.navigation-header__list-item a {
	padding: 0 0 0.1rem 0;
	border-bottom: none;
	color: var(--color-primary);
}
