/**
 * HEADER SIDEBAR
 *
 * @since   0.1
 * @doc https://awesomatic.nl/docs 
 */

.sidebar-header {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	padding: 0.5rem;
}

.sidebar-header .widget {
	padding: 0 0 0 0;
}

@media all and (min-width: $bp-med) {

	.sidebar-header {
		grid-template-columns: 1fr 1fr 1fr;
		margin: 4rem 0 2rem 0;
	}

	.sidebar-header .widget {
		padding: 0.5rem 0.5rem 0.5rem 0.5rem;
	}

}
