/**
 * FOOTER SIDEBAR
 *
 * @since 	0.1
 * @doc		https://awesomatic.nl/docs 
 */

.sidebar-footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 2rem;
    row-gap: 1rem;
    justify-items: stretch;

    background-color: var(--color-gray--light);
}

@media all and (min-width: $bp-med) {

    .sidebar-footer {
        row-gap: 2rem;
    }

    .sidebar-footer__widget-title {
        font-size: 1.2rem;
        font-weight: 600;
    }

    .sidebar-footer__widget * :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
        font-size: 1rem;
    }

}
