/**
 * MODAL SIDEBAR
 *
 * @since   0.1
 * @doc https://awesomatic.nl/docs 
 */

.sidebar-modal {
	background-color: var(--color-gray);
	box-shadow: -3px 3px 6px 3px rgba(0, 0, 0, 0.2);
	transition-duration: 0.3s;

	overflow: hidden;
	position: fixed;
	top: 0;	
    right: -100vw;
	height: 100%;
	width: 94vw;
	z-index: 99;
}

.sidebar-modal--visible {
	/**
	 * Put the modal on the right if it's visible
	 */
	right: 0;
}

.sidebar-modal__content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	/**
	 * We need this div to make the sidebar scrollable
	 */
	 min-height: 250px;
	 height: 100%;
	 width: 100%;
	 overflow: auto;
}

.body--freeze {
	/**
	 * Making sure you scroll the modal
	 */
	overflow: hidden;
}

@media all and (min-width: $bp-small) {

	.sidebar-modal {
		width: 94vw;
	}

}

@media all and (min-width: $bp-small-2) {

	.sidebar-modal {
		width: 84vw;
	}

}

@media all and (min-width: $bp-med) {

	.sidebar-modal {
		width: 75vw;
	}

}

@media all and (min-width: $bp-large) {

	.sidebar-modal {
		width: 50vw;
	}

}

@media all and (min-width: $bp-large-2) {

	.sidebar-modal {
		width: 33vw;
	}

}