/**
 * SITE
 *
 * @since   0.1
 * @doc 	  https://awesomatic.nl/docs 
 */

body {
  display: grid;
}

.site-header {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  min-height: 4.5rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

.site-main {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.site-footer {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  height: auto;
}
