/**
 * SITE HEADER
 *
 * @since   0.1
 * @doc https://awesomatic.nl/docs 
 */

/** 
 * Container 
 */

.site-header { 
	position: fixed;
	top: 0;
	height: 72px; // If changed, also change ../scripts/elastic.js  
	width: 100%;
	z-index: 999;
	background: var(--color-light);
	transition: all .3s ease;

	display: grid;
	grid-template-columns: 1fr auto auto;
	column-gap: 1rem;
	align-items: center;
	justify-items: stretch;
}

.site-header--hidden {
	top: -153px;
 	transition-timing-function: ease-in;
 	transition: 0.6s;
}

/** Element */

.site-header__logo img {
	border-radius: 50%;
}

/** 
 * Element 
 */

.navigation-header {
	/** 
	 * Hide on mobile because a seperate mobile menu is used. 
	 */
	 display: none;
	 justify-self: end;
 }

/** 
 * Element 
 */

.navigation-shop {

}

/** 
 * Element 
 */

 .hamburger {
	 
 }

.hamburger:hover {		
	background: none;
}


@media all and (min-width: $bp-xl) {

	.site-header { 
		grid-template-columns: auto 1fr auto;
		column-gap: 4rem;
	}

	.navigation-header { 
		/** Show this menu instead of the seperate mobile menu. */
		display: block;
	}

	.hamburger {
		/**
		 * Hide the hamburger menu if the primary nav is used.
		 */
		display: none;
	}

}
