/**
 * SITE BRANDING
 *
 * @since   0.1
 * @doc https://awesomatic.nl/docs 
 */

.site-branding {
	display: flex;
	flex-direction: row;
	/** 
	 * Vertical 
	 */
	align-items: center;
	justify-content: start;
}

.site-branding__title { 
	padding: 0 0 0 0.5rem;
	margin: 0 0 0 0;
	font-size: 0.9rem;
	font-weight: 500;
	line-height: 1.2;
	color: var(--color-dark);
	text-align: left;
}

.site-branding__title a {
	text-decoration: none;
	color: var(--color-dark);
}

.site-branding__title a:hover {
	color: var(--color-primary);
}

.site-branding__description {
	display: none;
	margin: 0.16rem 0 0 0;
	font-size: 17px;
	font-weight: inherit;
	line-height: 1.4;
	word-wrap: break-word;
	color: var(--color-dark);
	opacity: 0.75;
}

.site-branding a img { 
	max-height: 2rem; 
	width: auto;
}

@media all and (min-width: $bp-small-2) {

	.site-branding__title { 
		padding: 0 0 0 0.5rem;
		font-size: 20px;
	}

	.site-branding a img { 
		max-height: 2.5rem; 
		width: auto;
	}

}

@media all and (min-width: $bp-large-2) {

	.site-branding__title { 
		font-size: 1.2rem;
	}

	.site-branding a img { 
		max-height: 2.5rem; 
		width: auto;
	}

}

@media all and (min-width: $bp-xl) {

	.site-branding__description {
		display: block;
	}

	.site-branding a img { 
		max-height: 2.5rem; 
	}

}
