/**
 * SITE FOOTER
 *
 * @since 	0.1
 * @doc		https://awesomatic.nl/docs 
 */

/** 
 * Container 
 */

.site-footer {

}

/** 
 * Element 
 */

.sidebar-footer {
    padding: 2rem 1.5rem 2rem 1.5rem; 
}

/** 
 * Element 
 */

.navigation-footer {
	padding: 0.25rem 1.5rem 0.25rem 1.5rem;
}

/**
 * Element
 */

.navigation-colophon {
	margin: 0 1.5rem 1.5rem 1.5rem;
}

@media (min-width: $bp-xl) {

	/** 
	* Element 
	*/

	.navigation-footer {
		padding: 0.5rem 1.5rem 0.5rem 1.5rem;
	}

	/**
	* Element
	*/

	.navigation-colophon {
		margin: 0 1.5rem 1.5rem 1.5rem;
	}

}
