/** 
 * BLOCK UTILITIES
 *
 * Since auto.9
 * @link awesomatic.nl/doc/dev/block-utilities
 */

/**
 * SPACE
 */

.has-margin {
    margin: 2rem auto 2rem auto;
}

.has-top-margin {
    margin: 2rem auto auto auto;
}

.has-bottom-margin {
    margin: auto auto 2rem auto;
}
  
@media all and (min-width: $bp-large) {
  
    .has-margin {
      margin: 3rem auto 3rem auto;
    }

    .has-top-margin {
        margin: 3rem auto auto auto;
    }
    
    .has-bottom-margin {
        margin: auto auto 3rem auto;
    }
  
}

/**
* Align
*/

.entry-content .alignfull {
    width: 100vw;
  }
  
  .wp-block-group {
    width: 88vw;
  
    @media all and (min-width: $bp-large) {
      width: 62vw;
    }
  }
  
    .entry-content > :first-child {
    }
    
    .entry-content >:not(.alignwide):not(.alignfull):not(hr) {
      width: 88vw;
    
      @media all and (min-width: $bp-large) {
        width: 62vw;
      }
    
    }
    
    .entry-content .alignwide {
    
      width: 88vw;
      @media all and (min-width: $bp-large) {
        width: 88vw;
      }
    }
    
    .entry-content > :only-child {
    }

  figcaption {
    border-radius: 0 0 10px 10px;
  }

  .wp-block-quote {
    border-left: 4px solid var(--color-primary);
}
