/**
 * BASE STYLES FOR FORMS
 *
 * @link https://awesomatic.nl/themes/awesomatic/design-system/forms/
 *
 * @package Awesomatic
 * @since 0.9
 */

/** GENERAL */

form {
	background-color: transparent;
}

fieldset {
    border: 0;
	padding: 0;
	margin: 0;
}

legend {
	display: none;
}

/** LABELS */

label {
	display: block;
	color: var(--color-gray);
}

/** INPUTS */

input, textarea {
    width: 100%;
    font-family: inherit;
    margin: 0;
}

input:focus,
textarea:focus {
    outline: none;
}

////////////

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

input[type=text], input[type=search], input[type=url], input[type=number], textarea {
    -webkit-appearance: none;
}

input:invalid {
    outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: var(--color-gray);
	opacity: 0.5; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: var(--color-gray);
   opacity: 0.5; /* Firefox */
}
  
::-ms-input-placeholder { /* Microsoft Edge */
   color: var(--color-gray);
   opacity: 0.5; /* Firefox */
}

/** SELECTS */
  
select:focus {
    outline: none;
}

select {
    font-family: inherit;
    margin: 0;
    height: 100%;
}

/** BUTTONS */

button:focus {
    outline: none;
}

button {
    cursor: pointer;
    transition: all $anim-speed-quick $anim-ease;
    font-family: inherit;
    margin: 0;
}
  

/**
 * BASE STYLES FOR FORMS	
 *
 * @link https://awesomatic.nl/themes/starter/design-system/forms/
 *
 * @package Awesomatic
 * @since 0.9
 */

 form {
	margin: 0.5rem 0 0.5rem 0;
 }

/** LABELS */

label {
	padding: 0 0 0.2rem 0;
	font-weight: 400;
}

/** INPUTS */

input:invalid {
	border: 4px solid $color-utility-negative;
}


input:focus {
	border-bottom: 3px solid var(--color-primary);
	background-color: var(--color-white);
	color: var(--color-light);
}

input, textarea {
	color: var(--color-primary);
	padding: 1rem 0.75rem 1rem 0.75rem; 
	border: none;
    border-bottom: 3px solid transparent;
    border-radius: 2px 2px 0 0;
    background-color: rgba(255,255,255,0.1);    
	color: var(--color-white);
	margin: 0 0 1rem 0;
	font-size: 1.1rem;
}

textarea:focus {
	border: none;
	border-bottom: 3px solid var(--color-primary);
	background-color: var(--color-dark);
	color: var(--color-light);
}

/** SELECTS */

select {
    border-radius: var(--border-radius);
    font-weight: bold;
    padding: 8px 16px 8px 16px;
    box-shadow: 0 5px 30px var(--color-gray--light);
    font-size: 1.2rem;
}

select:focus {
	border: 2px solid var(--color-dark);
	background-color: var(--color-light);
}

/** BUTTONS */
  
button {

	/** Layout */
	margin: 1.5rem 0 1.5rem 0;
	padding: 10px 20px;

	/** Appaerance  */
	background-color: var(--color-dark);
    border: 2px solid var(--color-dark);
	border-radius: 28px;
	box-shadow: 0 5px 30px var(--color-gray--light);
	color: var(--color-light);
	font-family: var(--font-primary);
	font-size: 15px;
	font-weight: 500;

}
  
button:hover {
    background: var(--color-dark);
    color: var(--color-light);
}
  
button a, button:hover a {
	color: var(--color-light);
	font-family: var(--font-alternative);
}

form button:hover {
	background: var(--color-light);
	color: var(--color-dark);
}

button:focus {
	border: 2px solid var(--color-dark);
	background-color: var(--color-light);
}


/** GENERATED STLES BY WP PLUGIN: FORMIDABLE FORMS */

.frm_primary_label {
	padding: 0 0 0.2rem 0;
	font-weight: 400;
	color: var(--color-gray);
}

.frm_fields_container {
	flex-direction: column;
}

.frm_error {
	color: $color-utility-negative;
	margin: 0 0 1.5rem 0;
	font-size: 0.8rem;
}

.frm_error_style {
	background-color: var(--color-white);
	color: $color-utility-negative;
	padding: 0 1rem 0.5rem 0;
	border-radius: var(--border-radius);
	margin: 0 0 0.5rem 0;
	font-size: 0.9rem;

	p {
		color: $color-utility-negative;
		font-size: 0.9rem;
	}
}

.frm_message  { 
	background-color: var(--color-white);
	border-radius: var(--border-radius);
	padding: 0.5rem 1rem 0.5rem 1rem;

	p {
		color: $color-utility-positive!important;
		font-size: 0.8rem;
		margin: 0;
		padding: 0;
	}
} 

.frm_opt_container {
	margin: 0 0 1rem 0;
}

.frm_checkbox label {
    display: inline-flex;
    cursor: pointer;
	position: relative;
	font-weight: 400;
}

.frm_checkbox label > {
    color: #34495E;
    padding: 0.5rem 0.25rem;
}

.frm_checkbox label > input {
    height: 25px;
    width: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid #34495E;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    background-color: var(--color-light);
    cursor: pointer;
    padding: 0;
    margin: 0.25rem 0.5rem 0.25rem 0.25rem;
  }

  .frm_checkbox label > input:checked {
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);
}

.frm_checkbox label > input:checked::before {
    content: '\2713';
    display: block;
    text-align: center;
    color: var(--color-light);
    position: absolute;
    left: 0.6rem;
    top: 0.3rem;
}

.frm_checkbox label > input:active {
    border: 2px solid #34495E;
}

/* SINGLE LINE FORM */
 
#form_nieuwsbrief {

	.frm_fields_container {
		display: flex;
		flex-direction: row;

		label {
			display: none;
		}

		.frm_form_field {

			// Let the input element grow so it takes up all the extra space available. 
			flex-grow: 1;

			input {
				border-radius: var(--border-radius) 0px 0px var(--border-radius);
				margin: 0 0 0 0;
				padding: 1rem 0.75rem 1rem 0.75rem; 
			}
		}
	}

	button { 
		border-radius: 0 var(--border-radius) var(--border-radius) 0;
		border-left: 0;
		height: 100%;
		background-color: var(--color-dark);
		color: var(--color-light);
	}
}
