/**
 * BASE STYLES FOR HEADINGS
 *
 * @link https://awesomatic.nl/themes/awesomatic/design-system/forms/
 *
 * @package Awesomatic
 * @since 0.9
 */

h1,h2,h3,h4,h5,h6 {
	color: var(--color-dark);
	margin: 0.5rem 0 0.5rem 0;
}

h1  {
	font-family: var(--font-secondary);
	font-size: 2.4rem;
	line-height: 1.24;
	font-weight: 600;		
}

h2 {
	font-family:'SF Mono Regular';
	font-weight:normal;
	font-size: 1rem;
	line-height: 1.58;
	margin: 0.5rem 0 0.5rem 0;
}

 h3 {
	font-family:'SF Mono Regular';
	font-weight:normal;
	font-size: 0.8rem;
	text-transform: uppercase;
	line-height: 1.58;
}

h4  {
	font-size: 0.8rem;
	text-transform: uppercase;
}

h5 {
	font-size: 1rem;
}

h6 {
	font-size: 0.8rem;
}

.subheading {
	font-family: var(--font-secondary);
	font-weight: normal;
}

@media (min-width: $bp-small-2) {

	h1 {
		font-size: 2.2rem;
		line-height: 1.3;
	}

	h2 {
		font-size: 1.1rem;
	}

	h3 {
		font-size: 0.8rem;
	}

	h4 {
		font-size: 0.8rem;
	}

	h5 {

	}

	h6 {

	}

}

@media (min-width: $bp-large-2) {

	h1 {
		font-size: 2.2rem;
		line-height: 1.3;
	}	

	h2 {
		font-size: 1.1rem;
	}

	h3 {
		font-size: 0.9rem;
	}

	h4 {
		font-size: 0.9rem;
	}

}

@media (min-width: $bp-xl) {

	/** Laptop */

	h1 {
		font-size: 2.6rem;
		line-height: 3.2rem;
	}

	h2 {
		font-size: 1.1rem;
	}

	h3 {
		font-size: 0.9rem;		
	}

	h4 {
		font-size: 0.9rem;
	}

	h5 {

	}

	h6 {

	}

}
