/**
 * ARTICLE HEADER
 *
 * @since   0.1
 * @doc https://awesomatic.nl/docs/dev/icons 
 */

.wp-social-link a, .wp-social-link a:active, .wp-social-link a:visited, .wp-social-link svg {
	color: var(--color-dark);
	fill: var(--color-dark);
}
