/**
 * LINKS
 *
 * The order has to be visited, hover, active, focus to prevent 
 * hover styles to be overridden by visited styles.
 */

/** Base */

a {
	color: var(--color-primary);
	text-decoration: none;
	outline: 0;
	transition: all $anim-speed-quick $anim-ease;
}

a:visited {
	color: var(--color-primary);
	opacity: 0.8;
}

a:hover {
	color: var(--color-dark);
	opacity: 1;
}

a:active {
	color: var(--color-primary);
}

a:focus {
	color: var(--color-primary);
}


p a {
	border-bottom: 1px solid var(--color-primary);
}

p a:hover {
	border-bottom: 1px solid var(--color-dark);
}

 
/*
 * Email link
 */
a[href^="mailto:"] {
	color: var(--color-primary);
	border-bottom: none;
}

a[href^="mailto:"]:hover {
	color: var(--color-dark);
}
 
nav a[href^="mailto:"]:before {
	// content: '<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><rect x="3" y="5" width="18" height="14" rx="2" /><polyline points="3 7 12 13 21 7" /></svg>';
    // display:block;
    // height:20px;
    // width:20px;
}
