/**
 * BASE STYLES FOR TABLES
 *
 * @link https://awesomatic.nl/themes/awesomatic/design-system/tables/
 *
 * @package Awesomatic
 * @since 0.9
 */

 table {
	border-collapse: collapse; 
	border-spacing: 0; 
	border: 1px solid var(--color-gray);
	width: 100%;
}

th {
	text-align: left;
	border: 1px solid var(--color-gray);
	padding: 0.2em;
}

td {
	border: 1px solid var(--color-gray);
	padding: 0.2em;
}
