/**
 * TEXT BASE STYLES
 *
 * @link https://awesomatic.nl/themes/awesomatic/design-system/typography/
 *
 * @package Awesomatic
 * @since 0.9
 */

body {
    background-color: var(--color-light);
	font: 100%/1.5 var(--font-primary);
    line-height: 28px;
    color: var(--color-dark);
    font-weight: 300;
}

/**
  * Paragraph base styles
  */
p {
    font-size: 1rem;
    word-break: break-word;
    color: var(--color-gray);
    margin: 0.5rem 0 1.5rem 0;
}

    /**
    * Blockquote base styles
    */
    blockquote {
        font-style:italic;
        border-left: 1px solid var(--color-gray--dark);
        color: var(--color-gray--dark);
        padding-left: var(--space);
        margin-bottom: var(--space);
    }

    .entry-content ul, 
    .entry-content ol {
        color: var(--color-gray);

        margin: 0.5rem 0 1.5rem 0;
        font-size: 1rem;
    }

    /**
    * Abbreviation base styles
    */
    abbr {
        border-bottom: 1px dotted var(--color-gray);
        cursor: help;
    }

::-moz-selection { 
    background: var(--color-primary); 
    color: var(--color-light);
}

::selection { 
    background: var(--color-primary); 
    color: var(--color-light);
}


@media (min-width: $bp-xl) {

    p {
        font-size: 1.1rem;
    }

    .entry-content ul, 
    .entry-content ol {
        font-size: 1.1rem;
    }

}