.woocommerce-account .entry-content {
    // background-color: var(--color-gray--light);
}

.woocommerce-form-login {
    border: 1px solid var(--color-gray--dark)!important;
}

input.woocommerce-form__input {
    width: auto;
}

// .woocommerce .button {
//     @extend .wp-block-button;
//     @extend .is-style-fill;
//     border-radius: 10px!important;
// }
